@media (max-width:550px){
    .cabecalho{
        background-image: url(./img/img-cell.jpg);
        padding: 6px;
        justify-content: center;
    }
    .cabecalho .logo{
        display: block;
       
    }
    .cabecalho nav {
       float: none;
       text-align: center;
    
    
    }
    .cabecalho nav li{
       display: block;
        padding: 10px;
    }
    .cabecalho nav li a{
       
        color: #fff;
        
        padding: 5px;
        border-radius: 5px;
        text-align: center;
    
    }
    .cabecalho nav li a:hover{
        text-decoration: none;
        text-decoration: underline;
        
        
    }
    .cabecalho nav li a:active{
        background-color: rgb(5, 5, 88);
    }
    main{
        border: none;
    }
}

