@media (max-width:550px){
    .cabecalho{
        background-color: rgb(10, 10, 182);
        padding: 5px;
    }
    .cabecalho .logo{
        display: block;
    }
    .cabecalho nav {
       float: none;
    }
    .cabecalho nav li{
        display: block;
        text-align: center;
        padding: 10px;
    }
    .cabecalho nav li a{
        background-color: #3c39ec;
        color: black;
        padding: 5px;
        border-radius: 5px;
    
    }
    .cabecalho nav li a:hover{
        text-decoration: none;
        
        
    }
    .cabecalho nav li a:active{
        background-color: rgb(5, 5, 88);
    }
    main{
        border: none;
    }
}